body, h1, h2, h3 ,h4, p {
	font-family: "Roboto", "sans-serif";
}

body {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}


/* app leading header */
h1 {
	text-align: center;
	font-weight: 500;
}

h2 {
	text-align: center;
	font-weight: 400;
}


/* top banner */
.lv1-block {
	height: 15%;
}

.lv2-block {
	text-align: center;
}


li {
	text-decoration: none;
}

img {
	text-align: center;
}

#centerbody {	
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	text-align: center;
}

#fb-log {
	cursor: pointer;
}

#fb-log:hover {
	color: blue;
}

#centerbody img {
	font-family: Tahoma, Geneva, sans-serif;
	cursor: pointer;
}

#back:hover {
	color: blue;
}

#back {
	cursor: pointer;
}

#viewstat {
	position: absolute;
	top: 30px;
	right: 30px;
}

/*TILT*/
#bigButton1, #bigButton2, #bigButton3, #bigButton4, #bigButton5, #bigButton6 {
	display: inline;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
#bigButton1:hover, #bigButton2:hover, #bigButton3:hover, #bigButton4:hover, #bigButton5:hover, #bigButton6:hover {
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}
