h1 {
	color: #6E1E94;
	font-family: 'Signika', sans-serif;
	font-size: 5em;
	letter-spacing: 1px;
	font-weight: bold;
}
h2, h3, #template-size, #fb-log {
	font-family: Tahoma, Geneva, sans-serif;
}
p {
	color: #6E1E94;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
