<script id="template-splash" type="text/html">
	<div id="userinfo"></div>
	<div id="viewstat">
		<button type="button">View My Stats</button>
	</div>
	<img data-info="soda" src="images/soda.jpg" alt="soda">
	<img data-info="energy" src="images/energy.jpg" alt="energydrink">
	<img data-info="juice" src="images/juice.jpg" alt="juice">
	<p>Stay on top of your drinking habit!</p>
	<p>Are your drinks healthy for you?</p>
	<p>We will show you the data, you decide!</p>

</script>

<script id="template-size" type="text/html">
	<img data-info="8.4" src="images/8.4oz.jpg" alt="8.4oz">
	8.4 fl. oz
	<img data-info="10" src="images/10oz.jpg" alt="10oz">
	10 fl. oz
	<img data-info="12" src="images/12oz.jpg" alt="12oz">
	12 fl. oz
	<div>
		<button type="button"><span id="back">Back</span></button>
	</div>
</script>

<script id="template-brand" type="text/html">
	<h2>Choose the brand of your drink</h2>
	<img data-info="cocacola" src="images/coke.jpg" alt="coke">
	<img data-info="sprite" src="images/sprite.jpg" alt="sprite">
	<img data-info="welchs" src="images/welchs.jpg" alt="welchs">
	<img data-info="redbull" src="images/redbull.jpg" alt="redbull">
	<div>
		<button type="button"><span id="back">Back</span></button>
	</div>
</script>